$color-1: #e1ecf7; // Light blue -- background color
$color-2: #0077B6; // Medium Blue
$color-3: #0096C7; // Aqua Blue
$color-4: #023E8A; // Dark Blue
$color-5: #ffffff; // White
$color-6: #FF6D00; // Orange
$color-7: #03045E; // Blue-Purple